.container {
    max-width: 600px;
    margin: 0 auto;
}

.header {
    width: 100%;
}

h1 {
    margin: 20px auto;
    text-align: center;
}

.search-container {
    display: flex;
    justify-content: space-between;
}

input {
    padding: 8px;
    margin: 20px 10px;
}

.buttons {
    height: 50px;
    display: flex;
    align-items: flex-end;
}

i, button {
    vertical-align: bottom;
    cursor: pointer;
    margin: 0 5px;
}

table, th, td {
    width: 600px;
    border: 2px solid black;
    padding: 2px;
}

th {
    font-weight: bold;
}

td {
    cursor: pointer;
}
